[submodule "mfrc522/docs/ext/breathe"]
	path = mfrc522/docs/ext/breathe
	url = https://github.com/michaeljones/breathe
[submodule "mfrc522/docs/ext/exhale"]
	path = mfrc522/docs/ext/exhale
	url = https://github.com/svenevs/exhale
[submodule "mfrc522/docs/ext/sphinx_rtd_theme"]
	path = mfrc522/docs/ext/sphinx_rtd_theme
	url = https://github.com/readthedocs/sphinx_rtd_theme
[submodule "frontend-embedded/3rdparty/nats"]
	path = frontend-embedded/3rdparty/nats
	url = https://github.com/nats-io/nats.c
[submodule "docs/themes/book"]
	path = docs/themes/book
	url = https://github.com/alex-shpak/hugo-book
