html, body {
  height: 100%;
  font-family: "Roboto";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.mdc-checkbox__mixedmark {
    background-color: var(--mdc-theme-text-primary-on-dark);
}