openapi: 3.0.3
info:
  title: Timeterm
  version: "1.0"
  contact:
    name: Timeterm
    email: support@timeterm.nl
  description: The Timeterm API

security:
  - ApiKeyAuth: []

servers:
  - url: "https://api.timeterm.nl/"

paths:
  /device:
    post:
      operationId: registerDevice
      summary: Register a new device
      description: |
        Register a new device

        May only be performed by devices (with a setup token).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
      responses:
        "200":
          description: Device created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDeviceResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    get:
      operationId: getDevices
      summary: List devices
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: uint64
        - name: maxAmount
          in: query
          schema:
            type: integer
            format: uint64
        - name: searchName
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDevices"
    delete:
      operationId: deleteDevices
      summary: Delete devices
      requestBody:
        content:
          application/json:
            schema:
              properties:
                deviceIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "204":
          description: No content

  /device/{id}:
    get:
      operationId: getDevice
      summary: Get a device
      responses:
        "200":
          description: Device
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
    patch:
      operationId: updateDevice
      summary: Update a device
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Device"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
    delete:
      operationId: deleteDevice
      summary: Delete a device
      responses:
        "204":
          description: No content

  /device/{id}/config/natscreds:
    get:
      operationId: getDeviceNatsCredentials
      summary: Get NATS credentials for a device
      description: |
        Get NATS credentials for a device

        May only be performed by a device.
      responses:
        "200":
          description: NATS credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NatsCredentials"

  /device/{id}/config/networks:
    get:
      operationId: getAllNetworkingServices
      summary: Get all networking services (for a device)
      description: |
        Get all networking services (for a device) in the organization

        May only be performed by a device.
      responses:
        "200":
          description: Networking services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NetworkingService"

  /device/{id}/heartbeat:
    post:
      operationId: updateDeviceHeartbeat
      summary: Update the last heartbeat of the device
      description: |
        Update the last heartbeat of the device.  
        Can only be used by the device itself.
      responses:
        "204":
          description: No content

  /device/{id}/reboot:
    post:
      operationId: rebootDevice
      summary: Reboot a device
      responses:
        "200":
          description: OK

  /device/registrationconfig:
    get:
      operationId: getDeviceRegistrationConfig
      summary: Get the device registration configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                required:
                  - token
                  - networkingServices
                properties:
                  token:
                    type: string
                  organizationId:
                    type: string
                    format: uuid
                  networkingServices:
                    required:
                      - services
                    properties:
                      services:
                        type: array
                        items:
                          $ref: "#/components/schemas/NetworkingService"

  /device/restart:
    post:
      operationId: rebootDevices
      summary: Reboot a list of devices
      requestBody:
        content:
          application/json:
            schema:
              properties:
                deviceIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: No content

  /organization/{id}:
    get:
      operationId: getOrganization
      summary: Get an organization
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
    patch:
      operationId: updateOrganization
      summary: Update an organization
      description: Update an organization. Request body is interpreted as JSON Merge Patch [[RFC 7396](https://tools.ietf.org/html/rfc7396)].
      parameters:
        - name: id
          in: path 
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Organization"
      responses:
        "200":
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"

  /message:
    get:
      operationId: getAdminMessages
      summary: Get admin messages (for the current organization)
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: uint64
        - name: maxAmount
          in: query
          schema:
            type: integer
            format: uint64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAdminMessages"

  /message/{sec}/{nanosec}:
    get:
      operationId: getAdminMessage
      summary: Get admin message (for the current organization)
      parameters:
        - name: sec
          in: path
          schema:
            type: integer
            format: int64
        - name: nanosec
          in: path
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminMessage"
  
  /networking/service:
    get:
      operationId: getNetworkingServices
      summary: Get networking services
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: uint64
        - name: maxAmount
          in: query
          schema:
            type: integer
            format: uint64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedNetworkingServices"
    post:
      operationId: createNetworkingService
      summary: Create a networking service
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkingService"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkingService"

  /networking/service/{id}:
    get:
      operationId: getNetworkingService
      summary: Get a networking service
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkingService"

    delete:
      operationId: deleteNetworkingService
      summary: Delete a networking service
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No content
    
    put:
      operationId: replaceNetworkingService
      summary: Replace a networking service
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkingService"
      responses:
        "204":
          description: No content
  
  /student:
    post:
      operationId: createStudent
      summary: Create a student
      requestBody:
        content:
          application/json:
            schema:
              properties:
                cardUid:
                  type: string
                  description: Card UID, hexadecimal
                  example: A8AB80A3
                zermelo:
                  properties:
                    user:
                      type: string
                      description: Zermelo user
                      example: "15029"
      responses:
        "200":
          description: Student created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"
        default:
          $ref: "#/components/responses/ErrorResponse"
    get:
      operationId: getStudents
      summary: List students
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: uint64
        - name: maxAmount
          in: query
          schema:
            type: integer
            format: uint64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedStudents"
    delete:
      operationId: deleteStudents
      summary: Delete students
      requestBody:
        content:
          application/json:
            schema:
              properties:
                studentIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        "204":
          description: No content

  /student/{id}:
    get:
      operationId: getStudent
      summary: Get a student
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"
    patch:
      operationId: updateStudent
      summary: Update a student
      description: Update an student. Request body is interpreted as JSON Merge Patch [[RFC 7396](https://tools.ietf.org/html/rfc7396)].
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Student"
      responses:
        "200":
          description: Student updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"

  /user/me:
    get:
      operationId: getCurrentUser
      summary: Get the current user
      responses:
        "200":
          description: A User object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  
  /user/{id}:
    patch:
      operationId: patchUser
      summary: Patch a user
      parameters:
        - name: id
          in: path
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: The patched user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /zermelo/connect:
    post:
      operationId: connectZermelo
      summary: Connect organization to Zermelo
      description: |
        Connect the requesting user's organization to Zermelo.
        The integration will create a new token for itself and destroy the provided token.
        Tokens are automatically refreshed.
        The institution used is that of the organization.

        > Note: if the organization's Zermelo institution is updated, the integration may very well break.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  type: string
                  example: 9902snvkzlxdf0923hkzxhv980
      responses:
        "200":
          description: Connected

  /zermelo/appointment:
    get:
      operationId: getZermeloAppointments
      summary: Get a list of (Zermelo) appointments
      description: |
        Get a list of (Zermelo) appointments

        May only be performed by a device with a student signed in.
      parameters:
        - name: X-Card-Uid
          in: header
          required: true
          schema:
            type: string
        - name: startTime
          in: header
          required: true
          schema:
            type: integer
            format: int64
            description: Start time of the time range to search in (UNIX seconds).
        - name: endTime
          in: header
          required: true
          schema:
            type: integer
            format: int64
            description: End time of the time range to search in (UNIX seconds).
      responses:
        "200":
          description: A list of appointments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointments"
        default:
          $ref: "#/components/responses/ErrorResponse"
  
  /zermelo/enrollment:
    post:
      operationId: enrollZermelo
      summary: Change Zermelo appointment enrollment
      description: |
        Change Zermelo appointment enrollment (via a device)

        May only be performed by a device with a student signed in.
      parameters:
        - name: X-Card-Uid
          in: header
          required: true
          schema:
            type: string
        - name: unenrollFromParticipation
          in: query
          required: false
          description: The ID of the AppointmentParticipation to unenroll from
          schema:
            type: integer
        - name: enrollIntoParticipation
          in: query
          required: false
          description: The ID of the AppointmentParticipation to enroll into
          schema:
            type: integer
      responses:
        "200":
          description: Success
        default:
          $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    User:
      required:
        - id
        - organizationId
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string

    AdminMessage:
      properties:
        organizationId:
          type: string
          format: uuid
        loggedAt:
          properties:
            seconds:
              type: integer
              format: int64
            nanos:
              type: integer
              format: int64
        severity:
          type: string
          enum:
            - error
            - info
        verbosity:
          type: integer
        summary:
          type: string
        message:
          type: string
        extraData:
          # This can contain anything that the backend puts in it.
          type: object

    Appointments:
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Appointment"

    Appointment:
      required:
        - id
        - participationId
        - appointmentInstance
        - startTimeSlotName
        - endTimeSlotName
        - subjects
        - groups
        - locations
        - teachers
        - startTime
        - endTime
        - content
        - allowedStudentActions
      properties:
        id:
          type: integer
          description: The ID of the appointment.
          example: 980803080
        participationId:
          type: integer
          description: The ID of the appointment participation.
        appointmentInstance:
          type: integer
          description: The instance of the appointment.
          example: 129304801
        isOnline:
          type: boolean
          description: Whether or not the lesson is online.
          example: true
        isOptional:
          type: boolean
          description: Whether or not following the lesson is required.
          example: false
        isStudentEnrolled:
          type: boolean
          description: Whether or not the student is enrolled.
          example: false
        isCanceled:
          type: boolean
          description: Whether or not the appointment is canceled.
          example: false
        startTimeSlotName:
          type: string
          description: The slot in which this appointment starts.
          example: "3"
        endTimeSlotName:
          type: string
          description: The slot in which this appointment ends.
          example: "4"
        subjects:
          type: array
          description: The subjects taught in the appointment.
          items:
            type: string
            example: ltc
        locations:
          type: array
          description: The locations where the appointment is at.
          items:
            type: string
            example: g026
        teachers:
          type: array
          description: The teachers present in the appointment.
          items:
            type: string
        groups:
          type: array
          description: The groups participating in the appointment.
          items:
            type: string
        availableSpace:
          type: integer
          description: How many places are still open.
        startTime:
          type: integer
          format: int64
          description: The time at which the appointment starts (UNIX seconds).
        endTime:
          type: string
          format: int64
          description: The time at which the appointment ends (UNIX seconds).
        content:
          type: string
          description: The contents of the lesson
        capacity:
          type: integer
          description: The maximum amount of attendants.
        allowedStudentActions:
          type: string
          enum:
            - None
            - All
            - Switch
          description: Actions that the user is allowed to perform.
        alternatives:
          type: array
          items:
            $ref: "#/components/schemas/Appointment"

    Student:
      type: object
      required:
        - id
        - organizationId
        - hasCardAssociated
        - zermelo
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the student
        organizationId:
          type: string
          format: uuid
          description: The ID of the organization that the user is in.
        hasCardAssociated:
          type: boolean
          description: Whether the user has a card associated or not.
        zermelo:
          properties:
            user:
              type: string
              description: The Zermelo user for the student.
              example: "15029"

    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID for the organization.
        name:
          type: string
          description: The name of the organization.
          example: "Example School"
        zermelo:
          properties:
            institution:
              type: string
              description: The Zermelo institution (used in the portal URL).
              example: "pws-timeterm"

    Device:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        organizationId:
          type: string
          format: uuid
        primaryStatus:
          $ref: "#/components/schemas/PrimaryDeviceStatus"

    PrimaryDeviceStatus:
      type: string
      enum:
        - Online
        - Offline

    Pagination:
      properties:
        offset:
          type: integer
          format: uint64
        maxAmount:
          type: integer
          format: uint64
        total:
          type: integer
          format: uint64

    PaginatedAdminMessages:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/AdminMessage"

    PaginatedDevices:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Device"

    PaginatedStudents:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Student"
    
    PaginatedNetworkingServices:
      allOf:
        - $ref: "#/components/schemas/Pagination"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/NetworkingService"

    CreateDeviceResponse:
      properties:
        device:
          $ref: "#/components/schemas/Device"
        token:
          type: string

    NetworkingService:
      required:
        - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
            - Ethernet
            - Wifi
        ipv4Config:
          properties:
            type:
              type: string
              enum:
                - "Off"
                - Dhcp
                - Custom
            settings:
              properties:
                network:
                  type: string
                netmask:
                  type: string
                gateway:
                  type: string
        ipv6Config:
          properties:
            type:
              type: string
              enum:
                - "Off"
                - Auto
                - Custom
            settings:
              properties:
                network:
                  type: string
                prefixLength:
                  type: integer
                gateway:
                  type: string
        ipv6Privacy:
          type: string
          enum:
          - Disabled
          - Enabled
          - Preferred
        mac:
          type: string
        nameservers:
          type: array
          items:
            type: string
        searchDomains:
          type: array
          items:
            type: string
        timeservers:
          type: array
          items:
            type: string
        domain:
          type: string
        networkName:
          type: string
        ssid:
          type: string
        passphrase:
          type: string
        security:
          type: string
          enum:
          - Psk
          - Ieee8021x
          - None
          - Wep
        isHidden:
          type: boolean
        eap:
          type: string
          enum:
          - Tls
          - Ttls
          - Peap
        caCert:
          type: string
          format: byte
        caCertType:
          type: string
          enum: 
          - Pem
          - Der
        privateKey:
          type: string
          format: byte
        privateKeyType:
          type: string
          enum:
          - Pem
          - Der
          - Pfx
        privateKeyPassphrase:
          type: string
        privateKeyPassphraseType:
          type: string
          enum:
          - Fsid
        identity:
          type: string
        anonymousIdentity:
          type: string
        subjectMatch:
          type: string
        altSubjectMatch:
          type: string
        domainSuffixMatch:
          type: string
        domainMatch:
          type: string
        phase2:
          type: string
          enum:
          - Gtc
          - MschapV2
        isPhase2EapBased:
          type: boolean
    
    NatsCredentials:
      properties:
        credentials:
          type: string

    Error:
      required:
        - message
      properties:
        message:
          type: string

  responses:
    ErrorResponse:
      description: An error.
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Error"

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
